* {
    padding: 0;
    margin: 0;
    font-size: 19px; 
    font-family: sans-serif;    
}

#chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: wheat;
    padding: 20px;
}

.message {
    display: flex;
    height: 30px;
    width: 95%;
    padding-left: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.messages li.myself {    
    display: flex;
    align-self: flex-end;
}

.messages li {    
    display: flex;
    align-self: flex-start;
    margin-top: 5px;
    list-style-type: none;
    padding: 10px;
    background-color: #fbf6f0;    
    border-radius: 10px;
    word-break: break-word;
}

form {
    display: flex;
    width: 95%;
    position: fixed;
    bottom: 10px;    
}

button {
    padding-right: 10px;
    padding-left: 10px;
}

.myself {
    text-align: right;
}

li.name, .myself.name {
    background-color: wheat;   
}
